:root {
    --blue1: #238fd1;
    --blue2: #206ab9;
    --pink1: #9f3670;
    --pink2: #de2485;
    --purple1: #786aa7;
    --purple2: #5f84bb;
    --grey: #7789a0;
    --light: #f5f5f5;
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    background-color: var(--grey);
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-size: 100dvw 100dvh;
    background-attachment: fixed;
    color: var(--light);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #37f;
}

a:visited {
    color: var(--light);
}

li {
    list-style-type: none;
}

/* Header */

.header {
    background-color: var(--blue2);
    display: flex;
    justify-content: left;

}

.header-logo {
    border-radius: 20%;
    width: 120px;
    height: 110px;
    margin: 3px;
}

.header .nav-mobile {
    width: 80px;
    height: 80px;
    display: none;
    margin: auto;
}

.header .nav-icon {
    width: 40px;
    height: 40px;
    margin: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    display: flex;
    align-items: center;
}


/* Main */


/* Inicio */



/* Curso */



/* Nosotros */




/* Footer */
.footer {
    display: flex;
    align-items: center;
    background-color: var(--blue2);
    color: var(--light);
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.footer-copy {
    padding: 20px;
}

.footer-links-list {
    display: flex;
    margin: 0;
    padding: 20px;
    gap: 25px;
}

.footer-links {
    list-style-type: none;
    height: 24px;
    width: 24px;
    box-shadow: 0 2px 10px 0 #00000080;
    transition: .4s ease;
}

.footer-links img {
    width: 24px;
    height: 24px;
}

.footer-links svg {
    fill: #fff;
}

.footer-links:hover {
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 10px 10px 0 #00000080;
}

.gh {
    background-color: var(--light);
    border-radius: 50%;
}

.wp {
    background-color: #25d366;
    border-radius: 100%;
}

.fb {
    background-color: #1877F2;
    border-radius: 20%;
}

.ig {
    background-color: #e1306c;
    border-radius: 30%;
}





/* Responsive */

@media (width < 480px) {
    .footer {
        flex-direction: column;
    }
}