:root {
    --blue1: #238fd1;
    --blue2: #206ab9;
    --pink1: #9f3670;
    --pink2: #de2485;
    --purple1: #786aa7;
    --purple2: #5f84bb;
    --grey: #7789a0;
    --light: #f5f5f5;
    --dark: #333;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: var(--grey);
    background-image: url('./icons/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

/* Header */
.header {
    background: linear-gradient(-90deg, var(--blue1) 0%, var(--purple1) 71%, var(--pink2) 100%);
    display: grid;
    grid-template-columns: 23vh 1fr;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-items: center;
}

.header-logo {
    border-radius: 20%;
    background-image: url('./icons/logo.ico');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vh;
    height: 18vh;
    margin: 1vh;
    object-fit: cover;
}

.header-logo:active {
    filter: brightness(110%);
    border-color: #fff;
}

/* Nav */

.header .nav-mobile {
    display: none;
    background-color: transparent;
    border: none;
    background-image: url('./icons/menubar.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(100);
    width: 15vh;
    height: 15vh;
    margin-right: 2vh;
    border-radius: 50%;
    position: absolute;
    top: 2vh;
    right: 2vh;
}

.header .nav-icon {
    max-width: 2rem;
    margin: 10px;
    filter: invert(1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    transition: all .5s ease;
}

nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    transition: .3s ease;
}

nav button img {
    width: 10dvw;
    margin: 10px;
    filter: invert(1);
}

nav button p {
    margin: 0;
}

nav button:hover,
nav button:focus {
    outline: none;
    filter: invert(.3) sepia(1) saturate(3) hue-rotate(245deg);
}

nav button.selected {
    filter: invert(.3) sepia(1) saturate(3) hue-rotate(245deg);
}

/* Main */
main {
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1dvw;
}

h1,
h2,
h3,
h4 {
    color: var(--pink2);
}

p,
ul,
ol,
pre,
code {
    color: var(--light);
}

pre {
    text-align: left;
    background-color: var(--grey);
    padding: 0.4rem 0.2rem;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    background-color: #005;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}

a {
    color: var(--blue2);
    text-decoration: none;
    transition: all .4s ease;
}

a:visited {
    color: var(--light);
}

a:hover {
    text-decoration: underline;
    color: var(--pink2);
}

section {
    margin: 2rem 0;
}

ul,
ol {
    padding-left: 1rem;
}

ul li,
ol li {
    list-style-type: none;
    margin-bottom: 0.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

.qr {
    width: 30dvw;
    height: auto;
}

/* Curso */
.lang-containers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    justify-items: center;
    padding: 20px;
    gap: 20px;
}

.cards {
    background: rgb(75, 69, 168);
    background: linear-gradient(45deg, rgba(75, 69, 168, 0.9612219887955182) 0%, rgba(120, 145, 163, 0.3841911764705882) 57%, rgba(45, 153, 175, 0.8435749299719888) 100%);
    width: 160px;
    height: 180px;
    border-radius: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 5px;
    border: 2px solid var(--blue1);
    box-shadow: 0 2px 10px 0 #00000080;
    transition: .4s ease;
}

.cards:hover {
    transform: scale(1.1) rotate(-2deg);
    filter: brightness(1.2);
    box-shadow: 0 10px 10px 0 #00000080;
    border: 2px solid #fff;
}

.cards a {
    text-decoration: none;
    color: #fff;
}

.nos-conteiner {
    text-align: center;
}

.nos-devs {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.nos-working {
    display: flex;
    flex-direction: column;

}

.integrantes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    margin: 0px;
}

.integrantes li img {
    width: 50px;

}

.integrantes li p {
    color: #d1d7df;
    font-size: medium;
}

.integrantes li {
    width: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nos-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0px;
    gap: 10px;
    justify-items: center;
}

.nos-galeria img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: all .4s ease;
}

.nos-galeria img:hover {
    transform: scale(2);
}

.cards button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    width: 100%;
    height: 100%;
}

.cards img {
    width: 110px;
    height: 110px;
    object-fit: contain;
}

.cards button h3 {
    margin: 0;
}

.cards:hover,
.cards:focus {
    cursor: pointer;
    outline: none;
    filter: brightness(1.2);
    color: #fff;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    background-color: var(--blue2);
    color: var(--light);
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.footer-copy {
    padding: 20px;
}

.footer-links-list {
    display: flex;
    margin: 0;
    padding: 20px;
    gap: 25px;
}

.footer-links {
    list-style-type: none;
    height: 24px;
    width: 24px;
    box-shadow: 0 2px 10px 0 #00000080;
    transition: .4s ease;
}

.footer-links img {
    width: 24px;
    height: 24px;
}

.footer-links svg {
    fill: #fff;
}

.footer-links:hover {
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 10px 10px 0 #00000080;
}

.gh {
    background-color: var(--light);
    border-radius: 50%;
}

.wp {
    background-color: #25d366;
    border-radius: 100%;
}

.fb {
    background-color: #1877F2;
    border-radius: 20%;
}

.ig {
    background-color: #e1306c;
    border-radius: 30%;
}

/* Responsive */
@media (width < 480px) {
    .footer {
        flex-direction: column;
    }
}

@media (width < 768px) {
    .header .nav-mobile {
        display: block;
    }

    .header {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: start;
    }

    main {
        z-index: 500;
    }

    nav {
        display: none;
        width: 100%;
        font-size: 20px;
        background: rgb(211, 23, 128);
        background: linear-gradient(0deg, rgba(211, 23, 128, 0.5) 0%, rgba(12, 88, 174, 0.7) 30%, rgba(0, 2, 4, 0.9) 100%);
        z-index: 1000;
    }

    nav button {
        text-align: center;
        justify-content: center;
        border: 2px solid #000;
        width: 100%;
    }

    .nav {
        display: block;
    }

    .nav-mobile.rotate {
        transition: .5s ease;
        transform: rotate(360deg);
    }

    .nos-conteiner {
        flex-direction: column;
    }
}